html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 100px;
    color: black;
    border-bottom: 4px solid black;
}
h2{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
a{
    color: black;
    border: none;
    font-size: 20px;
}
#one-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: #ED7D31;
}

#two-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: #6C5F5B;
}

#three-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: #4F4A45;
}

#four-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #F6F1EE;
}
